{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MCT4RXJ6GN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MCT4RXJ6GN');
    </script>


    
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo">
                <a class="navbar-brand" href="/"><img src="../static/img/logo.png"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db1">DashBoard1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db2">DashBoard2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db3">DashBoard3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db4">DashBoard4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hc">HighCharts</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                              Mais
                            </a>
                          
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/about"><i class="	fa fa-users" aria-hidden="true"></i> Sobre Nós</a> 
                              <a class="dropdown-item" target="_blank" href="https://github.com/dados-marinho-junior/projeto-analise-microdados-enem2021"><i class="fa fa-github" aria-hidden="true"></i> Nosso Projeto</a>
                              <a class="dropdown-item" href="/faq"><i class="fa fa-question-circle-o" aria-hidden="true"></i> FAQ</a>
                            </div>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        <footer>
            <p>App Grupo 01 - Entra21/2022 - {{ dados }}</p>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
 

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>


</body>

</html>