{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h4 class="card-title text-center">Bem-vindo</h4>
        {% csrf_token %}


        <p class="texto m-bottom">
            As páginas a seguir foram construídas com os indicadores mais importantes que nossa equipe selecionou para
            compor um conjunto de análises com base em dados informados pelos inscritos no Exame Nacional do Ensino
            Médio de 2021, obtidos no portal oficial do INEP, órgão do Governo Federal responsável pela aplicação do
            ENEM. São dados referentes aos aspectos sociais e econômicos dos candidatos, os quais, em conjunto com suas
            notas em cada prova aplicada, nos permitem obter informações valiosas sobre o desempenho dos estudantes de
            acordo com os parâmetros a serem selecionados. Através de ferramentas de consultas a bancos de dados,
            diversos filtros podem ser aplicados a fim de se obter respostas para diversos questionamentos que podem
            surgir no contexto atual da educação em nosso país, bem como do impacto no desempenho médio dos candidatos
            em função de condições socioeconômicas, regionais, etc. A fim de facilitar a sua interação com os painéis,
            foram criados os seguintes recursos adicionais:
        </p>

        <iframe class="video" src="https://www.youtube.com/embed/uZ5UQx8sg8Y" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>

        <h4 class="m-top">Menu suspenso:</h4>
        <p class="texto m-bottom ">
        
        O uso deste elemento permite que se faça uma seleção (filtragem) dos dados a serem exibidos em cada
        dashboard de acordo com as variáveis dispostas em cada um dos menus, permitindo múltiplas combinações de
        critérios possíveis, de acordo com os indicadores que se pretende analisar.
        Ao se fazer uma seleção em qualquer menu suspenso, este pode ser novamente fechado através da tecla ESC ou
        com um clique do mouse em qualquer local dentro do dashboard.
        </p>
        <h4>Filtragem de dados diretamente nas visualizações:</h4>
        <p class="texto">
        
        Conforme o contexto, alguns elementos gráficos são sensíveis ao clique do mouse, ação que passa a atuar
        também como um filtro adicional, impactando nos demais diagramas e exibições numéricas nos painéis
        correspondentes.
        </p>
        <h4> Botão Redefinir Gráficos:</h4>
        <p class="texto">
        
        Após cada consulta feita de acordo com os filtros selecionados, é possível redefinir os gráficos e
        estatísticas através deste botão, ação que, por sua vez, reposiciona todas as variáveis em contexto inicial,
        equivalente a todos os filtros aplicados em conjunto.
        </p>
        <p class="texto m-bottom">
            O principal indicador de desempenho individual é a média de cada candidato, obtida pela média aritmética
            simples das notas das provas de Ciências da Natureza, Ciências Humanas, Linguagens e Códigos, Matemática e
            Redação. Uma vez obtida a média de cada participante, é possível se obter a média de um grupo específico
            definido pelos filtros que podem ser aplicados em cada dashboard e assim se ter uma ideia do desempenho
            deste conjunto em particular.
            A partir de agora é com você. Navegue à vontade entre as páginas, aplique filtros diversos e veja os
            resultados. Elabore perguntas, tenha curiosidade e veja os resultados. Observe se existe alguma relação
            entre determinados indicadores sociais, regionais ou econômicos e o desempenho de algum grupo específico que
            você pode selecionar. Compare com outros grupos em condições mais ou menos favoráveis e tire conclusões.
            Esta é uma das principais finalidades deste trabalho que agora entregamos a todos aqueles que nos
            acompanharam e investiram na nossa formação ao longo desta jornada que apenas nos inicia no fascinante
            universo da análise de dados.

        </p>
    </div>
</div>

{% endblock %}